.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-green {
  background-color: #5bb892;
}

.bg-gray {
  background-color: #4b545d;
}

.bg-white-transparent {
  background-color: rgba(255,255,255,0.5);
}


.adaptative_text { font-size: 0.5rem; }

@media (min-width: 576px) {
    .adaptative_text { font-size: 0.6rem; }
}
@media (min-width: 768px) {
    .adaptative_text { font-size: 0.7rem; }
}
@media (min-width: 992px) {
    .adaptative_text { font-size: 0.8rem; }
}
@media (min-width: 1200px) {
    .adaptative_text { font-size: 1.0rem; }
}
